.m-header {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  li {
    margin-right: 20px;
    float: left;
    span {
      color: #217d68;
      cursor: pointer;
    }
    i {
      padding-right: 5px;
    }
  }
}
