@font-face {
  font-family: 'iconfont';  /* project id 1260814 */
  src: url('//at.alicdn.com/t/font_1260814_jhnhhk8jwui.eot');
  src: url('//at.alicdn.com/t/font_1260814_jhnhhk8jwui.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1260814_jhnhhk8jwui.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1260814_jhnhhk8jwui.woff') format('woff'),
  url('//at.alicdn.com/t/font_1260814_jhnhhk8jwui.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1260814_jhnhhk8jwui.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
* {
  margin: 0;
  padding: 0;
}

.center {
  width: 1350px;
  margin: 0 auto;
}

ul, ol li {
  list-style: none;
}

.el-main {
    padding: 0 20px 20px 20px;
}
.container-box {
  border-radius: 4px;
  box-shadow: 1px 2px 3px #a7a8ad;
}
a {
  color: #217d68;
}

.title-hover:hover {
  color: #f76160 !important;
  margin-left: 10px;
}
.title-hover:link, .title-hover:visited {
  color: #3e9c87;
  transition: all 0.4s linear 0s;
}

/* 解决出现滚动条页面抖动问题 */
html {
overflow-y: scroll;
}
:root {
overflow-y: auto;
overflow-x: hidden;
}
:root body {
position: absolute;
}
body {
width: 100vw;
overflow: hidden;
background-color: #f6f6f6;
}
