.aside-search {
  margin-bottom: 20px;
}
.search-area {
  margin-top: 5px;
}
.el-input__inner {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.searchBtn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 12px 16.5px;
  background-color: #217d68;
  border-color: #217d68;
}
